/* HEADER LOGO */
.main-header {
  width: 100%;
  display: flex;
  justify-content: center; /* horizontal center */ 
  padding: 5px 0;
  background-color: transparent; /* latar belakang gelap agar logo lebih kontras */
}
.header-box {
  width: 600px;
  background-color: #1e97d7; /* warna background hanya untuk area 600px */
  text-align: center;
  border-radius: 10px; /* opsional */
}
.header-logo {
  max-width: 70%;
  max-height: 200px;
}

body {
  font-family: sans-serif;
  text-align: center;
  background-color: #a7e2ff;
  margin: 0;
  padding: 0;
}

canvas {
  border: 2px solid black;
  background-color: #F3E9DC; 
  margin: 10px auto;
  display: block;
  max-width: 100%;
  height: auto;
}

#controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

#controls button {
  margin: 2px;
  padding: 1px 4px;
  font-size: 24px;
}

#commandList {
  font-weight: bold;
  color: rgb(4, 4, 234);
  margin-top: 10px;
}

.main-footer {
  width: 100%;
  display: flex;
  justify-content: center; /* horizontal center */ 
  padding: 5px 0;
  background-color: transparent; /* latar belakang gelap agar logo lebih kontras */
}
.footer-box {
  width: 600px;
  background-color: #0D5EA6; /* warna background hanya untuk area 600px */
  padding: 2px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-radius: 10px; /* opsional */
}
/* Media Query untuk Mobile */
@media (max-width: 600px) {
  canvas {
    width: 90vw;
    height: auto;
  }

  #controls {
    flex-direction: column;
    align-items: center;
  }

  #controls button {
    padding: 8px 12px;
    font-size: 14px;
  }

  #commandList {
    font-size: 14px;
  }
}
